.swatch {
    width: 100px;
    height: auto;
    float: left;
    margin-left: 15px;
    background-color: #fff;
    padding: 5px;
    animation: fadeIn 3s ease-in;
    -webkit-animation: fadeIn 3s ease-in;
    cursor: pointer;

}

span {
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
    color: #ff0000;
    font-weight: bold;
}

.swatch-color {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.col-text {
    color: #000;
    text-shadow: 0px 1px 0px #000;
    background: transparent;
}


@keyframes fadeIn{
    0% { opacity: 0;}
    50% { opacity: 0.5;}
    100% { opacity: 1;}
}